<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ang3l.see">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- permiso para internet neces. para volley -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- acceso a imagenes guardadas -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select" />
        <activity
            android:name=".ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme" />
        <activity android:name=".AdministratorOptionsActivity" />
        <activity android:name=".ChooseRoleActivity"></activity>
    </application>

</manifest>